extends template.pug

block link 
    link(rel="stylesheet", href="C:/Users/zhora/Desktop/Сетевые технологии/Новая папка/dist/css/style_info_page.css")

block content
    .menu
      ul
        li
          a(href='C:\\Users\\zhora\\Desktop\\Сетевые технологии\\Новая папка\\dist\\index.html') Главная страница
        li
          a(href='C:\\Users\\zhora\\Desktop\\Сетевые технологии\\Новая папка\\dist\\TablePage.html') Список птиц приморского края
    .container
      .main
        h3
          | Даурский журавль
        .picture
          img(src='../Pictures/Daurskii-zhuravl.jpg')
        .text
          .discription
            h4
              | Описание
            p
              | Даурский журавль (лат. Grus vipio) — птица семейства журавлей, обитающая в Восточной Азии, в том числе и на территории Российской Федерации. Редкий вид, его общая численность по оценкам орнитологов составляет 4900—5300 особей. Находится под охраной международных и национальных законодательств.
              | Птица высотой около 130-140 см и весом 5,6 кг. Единственный вид журавлей, у которых ноги имеют розоватый оттенок, а вдоль шеи проходят широкие белые полосы. Вокруг глаз имеются участки красной голой кожи. Оперение большей части тела взрослых птиц тёмно-серое; маховые и кроющие перья крыльев более светлые и имеют серебристый оттенок. Половой диморфизм (видимые различия между самцом и самкой) не выражен, хотя самцы выглядят несколько крупнее.
              | У молодых птиц перья на голове и передней части шеи рыжие, а маховые перья крыльев и хвост тёмно-серые.
          .area
            h4
              | Распространение
            p
              | Природный ареал даурского журавля расположен в Азии — места гнездовий распространены в исторической области Даурия (отсюда и название) и включают в себя Северо-Восточный Китай, Северо-Восточную Монголию и прилегающие территории юго-восточной части России. В Российской Федерации его можно встретить в Забайкальском крае в бассейне рек Агуца, Онон; в Еврейской автономной области, на берегах озера Ханка, в Хинганском заповеднике и его Архаринском филиале, вдоль рек Амур и Уссури.
              | В зимнее время около 2000 птиц восточной популяции мигрируют в район демилитаризованной зоны между Северной и Южной Кореей (в частности, устье реки Ханган, Чолвонская котловина и нижнее течение реки Имджин), а ещё порядка 300 следуют дальше и останавливаются в районе японского о. Идзуми. Имеется единичный случай наблюдения этих птиц на Тайване.[4] Птицы западной популяции (около 3000 птиц) мигрируют в район нижнего течения реки Янцзы в Китае, а также в долину реки Хуанхэ и озера Поянг.[5][6]
              | Ранее численность даурских журавлей была гораздо выше, а ареал охватывал большую территорию, однако в результате хозяйственной деятельности человека и военных действий популяция этих птиц резко сократилась и достигла критической отметки в годы Второй мировой и Корейской войн.
              | Обитает во влажных заболоченных лугах, поросших вейником (Calamagrostis) и осокой; долинах рек и приозёрных котловинах.
          .food
            h4
              | Питание
            p
              | Даурские журавли всеядны — питаются как растительной, так и животной пищей. Основной рацион составляют корневища и побеги водных растений, насекомые, рыба, креветки и мелкие позвоночные животные. Их можно встретить кормящихся зерновыми культурами на рисовых, кукурузных, соевых и пшеничных посевах.
    hr
    .warning
      | Вся представленная ифнормация взята отсюда 
      a(href='https://ru.wikipedia.org/wiki/Даурский_журавль') ссылка