.menu > ul {
    list-style: none;
    font-size: 1.2em;
    text-align: justify;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    background-color: lightgray;
}

table {
    width: 100%;
}

tr {
    height: 10px;
}

#table tr:hover {
    background-color: grey;
}

@media (max-width: 600px) {
    table {
        width: 600px;
    }
}