div 
	img 
		width 100%
		height auto
		display block
		margin 0 auto
h3 
	text-align center
	font-size 1.2em
h4 
	font-size 1.1em

.menu 
	& > ul 
		list-style none
		font-size 1.2em
		text-align justify
	a 
		text-decoration none
		&:hover 
			background-color lightgray

.container 
	display flex

.picture 
	width 30%
    max-width 1700px
	float left
	margin-right 10px
	float none
	width 100%

.text 
	text-align justify
	padding 5px
